In [1]:
from notebook_help.cm_main import *

path = "/Users/danieltuttle/projects/car_max_analytics/carmax/data/winter_2024_data.csv"
df = show_data(path)

# Whole data set
df

,price,appraisal_offer,make_appraisal,model_appraisal,trim_level_appraisal,model_year_appraisal,mileage_appraisal,engine_appraisal,cylinders_appraisal,mpg_city_appraisal,...,cylinders,mpg_city,mpg_highway,horsepower,fuel_capacity,vehicle_type,color,online_appraisal_flag,state,days_since_offer
0,19500,18800,Kia,Sportage,Not Premium,2014,19300,2.4L,4,21.0,...,3,24.0,34.0,134,16,Small SUV,Gray,0.0,CA,0
1,24000,9000,Ford,Escape,Premium,2012,39300,1.6L,4,22.0,...,6,19.0,27.0,271,15,Small SUV,Black,0.0,IL,0
2,24000,9800,Dodge,Challenger,Not Premium,2013,106100,3.6L,6,19.0,...,4,NaN,NaN,248,12,Luxury,White,0.0,CA,0
3,33000,14600,Toyota,Tacoma,Premium,2014,105800,3.5L,6,19.0,...,6,18.0,24.0,380,16,Medium SUV,Black,1.0,CA,1
4,14200,19500,Jeep,Cherokee,Not Premium,2015,20400,2.4L,4,22.0,...,4,NaN,NaN,188,14,Small SUV,Gold,0.0,FL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132712,16500,3400,Hyundai,Elantra,Premium,2010,97800,1.8L,4,28.0,...,4,22.0,32.0,228,16,Small SUV,White,0.0,CA,0
132713,20200,10500,Honda,Civic,Not Premium,2012,40300,2.0L,4,31.0,...,4,22.0,31.0,228,16,Small SUV,Black,0.0,CA,0
132714,21700,5300,Mercedes-Benz,ML350,NaN,2004,75800,3.5L,6,15.0,...,4,22.0,31.0,228,16,Small SUV,Black,0.0,CA,0
132715,21700,8300,Kia,Forte,Not Premium,2013,47300,2.0L,4,29.0,...,4,22.0,31.0,228,16,Small SUV,White,0.0,CA,0
132716,20200,5600,Toyota,Corolla,Not Premium,2010,75000,1.8L,4,27.0,...,4,21.0,28.0,240,17,Small SUV,Black,1.0,CA,3

In [2]:
# Number of cars per brand
count_car_makes(df)

make_appraisal
Acura                3
Alfa Romeo           3
Audi                12
BMW                 23
Buick             1134
Cadillac           168
Chevrolet        14693
Chrysler          2260
Dodge             5757
Fiat               286
Ford             17912
GMC               2553
Genesis             17
Honda            13071
Hyundai           9282
Infiniti           742
Jaguar              36
Jeep             10848
Kia               6095
Land Rover         350
Lexus             2035
Lincoln             56
Mazda             2086
Mercedes-Benz     2409
Mercury             69
Mini               290
Mitsubishi         460
Nissan           16187
Oldsmobile           1
Plymouth             1
Pontiac             53
Porsche             92
Ram               2575
Saab                 1
Saturn              38
Scion              312
Smart               28
Subaru            1829
Suzuki               5
Toyota           15635
Volkswagen        3103
Volvo              207
dtype: int64

In [3]:
# Number of cars by model
count_car_models(df)

model_appraisal
124 Spider         5
1500            2444
1500 Classic     127
200              868
3-Sep              1
                ...
iM                10
iQ                 7
tC               120
xA                 9
xB                99
Length: 437, dtype: int64

In [4]:
# Non SUV and SUV mean price
suv_mean = suv_mean_price(df)
print("suv mean")
print(suv_mean)

non_suv_mean = non_suv_mean_price(df)
print("non suv mean")
print(non_suv_mean)

suv mean
22395.48732139531
non suv mean
21255.602856596757

In [5]:
# Adds a column called percentile and allocates a number between 0-9 inclusive which corresponds to the price percentile of the price. Here this is done for the appraisal offer as well as the received price.
percentile_df = add_precentile_price_column(df)
percentile_df = add_precentile_appraisal_offer_column(df)
percentile_df

,price,appraisal_offer,make_appraisal,model_appraisal,trim_level_appraisal,model_year_appraisal,mileage_appraisal,engine_appraisal,cylinders_appraisal,mpg_city_appraisal,...,mpg_highway,horsepower,fuel_capacity,vehicle_type,color,online_appraisal_flag,state,days_since_offer,percentile_price,percentile_appraisal_offer
0,19500,18800,Kia,Sportage,Not Premium,2014,19300,2.4L,4,21.0,...,34.0,134,16,Small SUV,Gray,0.0,CA,0,4,8
1,24000,9000,Ford,Escape,Premium,2012,39300,1.6L,4,22.0,...,27.0,271,15,Small SUV,Black,0.0,IL,0,6,5
2,24000,9800,Dodge,Challenger,Not Premium,2013,106100,3.6L,6,19.0,...,NaN,248,12,Luxury,White,0.0,CA,0,6,6
3,33000,14600,Toyota,Tacoma,Premium,2014,105800,3.5L,6,19.0,...,24.0,380,16,Medium SUV,Black,1.0,CA,1,9,8
4,14200,19500,Jeep,Cherokee,Not Premium,2015,20400,2.4L,4,22.0,...,NaN,188,14,Small SUV,Gold,0.0,FL,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132712,16500,3400,Hyundai,Elantra,Premium,2010,97800,1.8L,4,28.0,...,32.0,228,16,Small SUV,White,0.0,CA,0,2,2
132713,20200,10500,Honda,Civic,Not Premium,2012,40300,2.0L,4,31.0,...,31.0,228,16,Small SUV,Black,0.0,CA,0,4,6
132714,21700,5300,Mercedes-Benz,ML350,NaN,2004,75800,3.5L,6,15.0,...,31.0,228,16,Small SUV,Black,0.0,CA,0,5,3
132715,21700,8300,Kia,Forte,Not Premium,2013,47300,2.0L,4,29.0,...,31.0,228,16,Small SUV,White,0.0,CA,0,5,5
132716,20200,5600,Toyota,Corolla,Not Premium,2010,75000,1.8L,4,27.0,...,28.0,240,17,Small SUV,Black,1.0,CA,3,4,4